{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-11">
 <h3 class="text-dark my-5">About Page</h3> 
 <pre class="text-center"> If you’re reading this, you’ve probably just come across Lost With Purpose for the first time. 
    Well, hold on to your seat: your life is about to change forever.

    … no, I kid. You can let go of your seat now.</pre>

  
<h1 class="text-center"> Here’s what’s really up</h1>
<pre class="text-center">
I’m Neelam, an Indian girl backpacking hither and thither around the planet. No need for fanfare, I’m just an ordinary 
girl who sold everything, left a “real person” job, and decided to travel the world for a while.</pre>


 
</div>

{% endblock content %}